#mainNav {
    padding-top: 25px;
    padding-bottom: 25px;
    transition: padding-top .3s,padding-bottom .3s;
    border: none;
    background-color: green

}

.foto {
    max-height: 150px;

}

.interesse {
    margin-bottom: 50px;
    text-align: center;

}

#mainNav.navbar-shrink {
    padding-top: 0;
    padding-bottom: 0;
    background-color: rgb(14, 71, 21);
}

#mainNav .navbar-toggler {
    font-size: 12px;
    right: 0;
    padding: 13px;
    text-transform: uppercase;
    color: #1e3321;
    border: 0;
    background-color: #ffffff;
    font-family: Montserrat,-apple-system,BlinkMacSystemFont,'Segoe UI',Roboto,'Helvetica Neue',Arial,sans-serif,'Apple Color Emoji','Segoe UI Emoji','Segoe UI Symbol','Noto Color Emoji';
}

header.masthead {
    text-align: center;
    color: #fff;
    
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-position: center center;
    background-size: cover;
}

}

@media screen and (min-width: 1470px) {
    #services {
        padding-top: 450px !important;
     }
}


#mainNav {
    height: 100px;
}

#portfolio .portfolio-item .portfolio-link .portfolio-hover {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-transition: all ease .5s;
    transition: all ease .5s;
    opacity: 0;
    background: rgb(76, 117, 82);
}


ul.social-buttons li a {
    font-size: 20px;
    line-height: 50px;
    display: block;
    width: 50px;
    height: 50px;
    -webkit-transition: all .3s;
    transition: all .3s;
    color: #fff;
    border-radius: 100%;
    outline: 0;
    background-color: #0e4715;
}